{{ define "index" }}
{{ template "header" }}
<h1> Зло пожаловать </h1>

<nav>
<ul>
    <li><a href="/index">Зайти</a></li>
    <li><a href="/main">Темы</a></li>
    <li><a href="/about">Про нас</a></li>
</ul>
<form action="/main" method="post">
    <input type="text">
    <input type="submit">
</form>
</nav>

{{ template "footer" }}
{{ end }}